<template>
  <ol class="calendar-week">
    <li class="calendar-week-item" v-for="weekday in weekdays" :key="weekday">{{ weekday }}</li>
  </ol>
</template>

<script>
const WEEKDAYS = ['po', 'út', 'st', 'čt', 'pá', 'so', 'ne'];

export default {
  name: "CalendarWeekdays",

  computed: {
    weekdays() {
      return WEEKDAYS;
    }
  }
};
</script>

<style scoped>
.calendar-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-week-item {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 52px;
}
</style>
