<template>
  <div class="calendar-header">
    <div class="calendar-arrow calendar-arrow-prev" @click="selectPrevious"></div>
    <div class="calendar-date">{{ selectedMonth }} {{ selectedYear }}</div>
    <!--  <div class="calendar-date-selector">-->
    <!--    <span @click="selectCurrent">dnes</span>-->
    <!--  </div>-->

    <div class="calendar-arrow calendar-arrow-next" @click="selectNext"></div>
  </div>
</template>

<script>
import dayjs from "dayjs";

const MONTHS = ['leden', 'únor', 'březen', 'duben', 'květen', 'červen', 'červenec', 'srpen', 'září', 'říjen', 'listopad', 'prosinec'];

export default {
  props: {
    currentDate: {
      type: String,
      required: true
    },
    selectedDate: {
      type: Object,
      required: true
    },
  },

  methods: {
    selectPrevious() {
      let newSelectedDate = dayjs(this.selectedDate).subtract(1, "month");
      this.$emit("dateSelected", newSelectedDate);
    },

    selectCurrent() {
      let newSelectedDate = dayjs(this.currentDate);
      this.$emit("dateSelected", newSelectedDate);
    },

    selectNext() {
      let newSelectedDate = dayjs(this.selectedDate).add(1, "month");
      this.$emit("dateSelected", newSelectedDate);
    }
  },

  computed: {
    selectedMonth() {
      return MONTHS[this.selectedDate.format('M') - 1];
    },
    selectedYear() {
      return this.selectedDate.format('YYYY');
    }
  }
};
</script>

<style scoped>
.calendar-header {
  position: relative;
  line-height: 50px;
  background-color: var(--grey-100)
}

.calendar-date {
  font-size: 18px;
  font-weight: 700;
}

.calendar-arrow {
  position: absolute;
  top: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: var(--brown);
  background-image: url('../assets/arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.2s;
}

.calendar-arrow:hover{
  background-color: var(--brown-dark);
}

.calendar-arrow-prev {
  left: 0;
  transform: rotate(180deg);
}

.calendar-arrow-next {
  right: 0;
}

.calendar-date-indicator {
  font-size: 24px;
  font-weight: 600;
  color: var(--grey-800);
}

.calendar-date-selector {
  display: flex;
  justify-content: space-between;
  width: 80px;
  color: var(--grey-800);
}

.calendar-date-selector > * {
  cursor: pointer;
  user-select: none;
}
</style>

