<template>
  <div class="calendar">
    <div class="loader" v-if="loading">Loading...</div>
    <div v-if="dataLoaded">
      <CalendarHeader
          :current-date="today"
          :selected-date="selectedDate"
          @dateSelected="selectDate"
      />

      <CalendarWeek/>

      <ol class="calendar-grid">
        <CalendarDay
            v-for="day in days"
            :key="day.date"
            :day="day"
            :isToday="day.date === today"
            :range="getRange"
            :isHover="getIsHover(day)"
            @click="setRange(day)"
            @mouseover="setHover(day)"
        />
      </ol>
    </div>
  </div>
</template>

<script>
import dayjs from "dayjs";
import axios from "axios"
import weekday from "dayjs/plugin/weekday";
import weekOfYear from "dayjs/plugin/weekOfYear";

import CalendarHeader from "./CalendarHeader";
import CalendarWeek from "./CalendarWeek";
import CalendarDay from "@/components/CalendarDay";

dayjs.extend(weekday);
dayjs.extend(weekOfYear);

export default {
  name: "Calendar",

  components: {
    CalendarDay,
    CalendarHeader,
    CalendarWeek
  },

  data() {
    return {
      selectedDate: dayjs(),
      loading: true,
      dataLoaded: false,
      apiData: null,
      range: {
        from: null,
        to: null,
      },
      hoverDay: null
    };
  },

  computed: {
    getRange() {
      return this.range;
    },

    days() {
      return [
        ...this.previousMonthDays,
        ...this.currentMonthDays,
        ...this.nextMonthDays
      ];
    },

    today() {
      return dayjs().format("YYYY-MM-DD");
    },

    month() {
      return Number(this.selectedDate.format("M"));
    },

    year() {
      return Number(this.selectedDate.format("YYYY"));
    },

    numberOfDaysInMonth() {
      return dayjs(this.selectedDate).daysInMonth();
    },

    currentMonthDays() {
      return [...Array(this.numberOfDaysInMonth)].map((day, index) => {
        return {
          date: dayjs(`${this.year}-${this.month}-${index + 1}`).format(
              "YYYY-MM-DD"
          ),
          isCurrentMonth: true,
          isSelectable: true,
        };
      });
    },

    previousMonthDays() {
      const firstDayOfTheMonthWeekday = this.getWeekday(
          this.currentMonthDays[0].date
      );
      const previousMonth = dayjs(`${this.year}-${this.month}-01`).subtract(
          1,
          "month"
      );

      const visibleNumberOfDaysFromPreviousMonth = firstDayOfTheMonthWeekday
          ? firstDayOfTheMonthWeekday - 1
          : 6;

      const previousMonthLastMondayDayOfMonth = dayjs(
          this.currentMonthDays[0].date
      )
          .subtract(visibleNumberOfDaysFromPreviousMonth, "day")
          .date();

      return [...Array(visibleNumberOfDaysFromPreviousMonth)].map(
          (day, index) => {
            return {
              date: dayjs(
                  `${previousMonth.year()}-${previousMonth.month() +
                  1}-${previousMonthLastMondayDayOfMonth + index}`
              ).format("YYYY-MM-DD"),
              isCurrentMonth: false
            };
          }
      );
    },

    nextMonthDays() {
      const lastDayOfTheMonthWeekday = this.getWeekday(
          `${this.year}-${this.month}-${this.currentMonthDays.length}`
      );

      const nextMonth = dayjs(`${this.year}-${this.month}-01`).add(1, "month");

      const visibleNumberOfDaysFromNextMonth = lastDayOfTheMonthWeekday
          ? 7 - lastDayOfTheMonthWeekday
          : lastDayOfTheMonthWeekday;

      return [...Array(visibleNumberOfDaysFromNextMonth)].map((day, index) => {
        return {
          date: dayjs(
              `${nextMonth.year()}-${nextMonth.month() + 1}-${index + 1}`
          ).format("YYYY-MM-DD"),
          isCurrentMonth: false
        };
      });
    },
  },

  methods: {
    setApiData: function () {
      let reservations = this.apiData.reservations;
      // let range = this.range;
      // let today = this.today;
      this.days.forEach(function (day) {
        reservations.forEach(function (reservation) {
          if (reservation.from <= day.date && reservation.to >= day.date) {
            day.isReservation = true;
            day.isSelectable = false;
          }

          if (reservation.from === day.date) {
            day.isHalfDayFrom = true;
            day.isSelectable = true;
          }

          if (reservation.to === day.date) {
            day.isHalfDayTo = true;
            day.isSelectable = true;
          }

          // if (range.from && range.from > day.date || day.date < today) {
          //   console.log('a');
          //   day.isSelectable = false;
          // }

        });
      });
    },

    getWeekday(date) {
      return dayjs(date).weekday();
    },

    selectDate(newSelectedDate) {
      this.selectedDate = newSelectedDate;
    },

    setHover(day) {
      if (this.range.from && this.hoverDay !== day.date) {
        console.log(this.hoverDay);
        this.hoverDay = day.date;
      }
    },

    getIsHover(day) {
      if (this.range.from < day.date && !this.range.to && this.hoverDay >= day.date) {
        return true;
      }

      if (this.range.from < day.date && this.range.to > day.date) {
        return true;
      }

    },

    setRange(day) {

      if (this.range.from && this.range.to) {
        this.range = {
          from: null,
          to: null,
        }
      }

      if (this.range.from && !this.range.to) {
        this.range.to = day.date;
      }

      if (!this.range.from) {
        this.range.from = day.date;
      }

      if (this.range.from > this.range.to) {
        console.log('bad');
        this.range.to = null;
      }

      console.log(this.range);
    },

    getApiData() {
      axios
          .get('data.json')
          .then((res) => {
            this.apiData = res.data;

          })
          .catch((error) => {
            console.log(error);
          }).finally(() => {
        this.setApiData();
        this.loading = false;
        this.dataLoaded = true;
      });
    },
  },

  mounted() {
    this.getApiData();
  },

};
</script>

<style scoped>
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: var(--grey-100);
}

.calendar {
  position: relative;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;
  position: relative;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  border-top: solid 1px var(--grey-200);
}
</style>
