<template>
  <li
      class="calendar-day"
      :class="{
      'is-empty': !day.isCurrentMonth,
      'is-today': isToday,
      'is-reservation': day.isReservation,
      'is-selectable': day.isSelectable && day.isCurrentMonth,
      'is-half-day is-half-day-from': day.isHalfDayFrom,
      'is-half-day is-half-day-to': day.isHalfDayTo,
      'is-range is-range-from': day.date === range.from,
      'is-range is-range-to': day.date === range.to,
      'is-hover': isHover,
      }"
  >
    <span class="calendar-day-number">{{ label }}</span>
  </li>
</template>

<script>
import dayjs from "dayjs";

export default {
  name: "CalendarDay",

  props: {
    day: {
      type: Object,
      required: true
    },

    isToday: {
      type: Boolean,
      default: false
    },

    isHover: {
      type: Boolean,
      default: false
    },

    range: {
      type: Object,
      required: false
    }

  },

  computed: {
    label() {
      return dayjs(this.day.date).format("D");
    }
  },

};
</script>

<style scoped>
.calendar-day {
  position: relative;
  min-height: 50px;
  font-size: 16px;
  background-color: var(--green-light);
  color: var(--white);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.calendar-day-number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--day-label-size);
  height: var(--day-label-size);
}

.is-empty {
  background-color: var(--grey-100);
  color: var(--grey-300);
}

.is-today {
  padding-top: 4px;
}

.is-today .calendar-day-number {
  color: var(--white);
  background-color: var(--grey-800);
}

.is-reservation {
  background-color: var(--red);
}

.is-selectable {
  cursor: pointer;
  background-color: var(--green);
}

.is-selectable:hover {
  background-color: var(--green-dark);
}

.is-half-day:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/half.svg');
  background-position: center;
  background-size: 100%;
}

.is-half-day-to:before {
  transform: rotate(180deg)
}

.is-range {

}

.is-range-from {
  background-color: var(--brown) !important;
}

.is-range-to {
  background-color: var(--brown-dark) !important;
}

.is-hover {
  background-color: var(--brown-light) !important;
}

</style>
