<template>
  <div id="app">
    <Calendar/>
  </div>
</template>

<script>
import Calendar from "./components/Calendar";

export default {
  name: "App",

  components: {
    Calendar
  },

};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

body {
  font-family: sans-serif;
  font-weight: 100;
  --grey-100: #f9f6f3;
  --grey-200: #f0f0f4;
  --grey-300: #b5c0cd;
  --grey-800: #3e4e63;
  --grid-gap: 1px;
  --day-label-size: 30px;
  --brown: #cca073;
  --brown-dark: #A98356;
  --brown-light: #E9BA93;
  --green-light: #81D655;
  --green: #4bb017;
  --green-dark: #267300;
  --red: #E83752;
  --white: #ffffff;
  --black: #000000;
}

ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
</style>
